body{
    height: 100vh;
    background-image: linear-gradient(white,rgb(49, 17, 192));
    background-size: cover;
}
/* rgb(185, 38, 185 */
.message{
    background-color: rgb(236, 227, 227);
    width: inherit;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 18px;
}
.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}

#send-container{
     display: block;
     margin: auto;
     text-align: center;
     max-width: 985px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}

#messageInp{
    width: 75%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    font-size: 22px;
}

.btn{
    cursor: pointer;
    border: 2px solid black;
    background-color: rgb(70, 250, 130);
    margin-left: 25px;
    border-radius: 6px;
    height: 40px;
    width: 80px;
    font-size: large;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
    .logo{
        display: block;
        margin:auto;
        width: 30px;
        height: 30px;
    }
    h1{
        margin-top: 12px;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }

    .container{
        border: 2px solid black;
        background-color: black;
        margin: auto;
        height: 58vh;
        padding: 33px;
        overflow-y: auto;
        margin-bottom: 23px;
        border-radius: 13px;
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (device-width : 375px) and (device-height: 812px) {
    .logo{
        display: block;
        margin:auto;
        width: 30px;
        height: 30px;
    }
    h1{
        margin-top: 12px;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }
    .container{
        border: 2px solid black;
        background-color: black;
        margin: auto;
        height: 67vh;
        padding: 33px;
        overflow-y: auto;
        margin-bottom: 23px;
        border-radius: 13px;
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width:400px) and (max-width: 600px) {
    .logo{
        display: block;
        margin:auto;
        width: 30px;
        height: 30px;
    }
    h1{
        margin-top: 12px;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }
    .container{
        border: 2px solid black;
        background-color: black;
        margin: auto;
        height: 65vh;
        padding: 33px;
        overflow-y: auto;
        margin-bottom: 23px;
        border-radius: 13px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .logo{
        display: block;
        margin:auto;
        width: 30px;
        height: 30px;
    }
    h1{
        margin-top: 12px;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }
    .container{
        border: 2px solid black;
        background-color: black;
        margin: auto;
        height: 65vh;
        padding: 33px;
        overflow-y: auto;
        margin-bottom: 23px;
        border-radius: 13px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .logo{
        display: block;
        margin:auto;
        width: 50px;
        height: 50px;
    }
    h1{
        margin-top: 12px;
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }
    .container{
        max-width: 995px;
        border: 2px solid black;
        background-color: black;
        margin: auto;
        height: 60vh;
        padding: 33px;
        overflow-y: auto;
        margin-bottom: 23px;
        border-radius: 13px;
    }
}